.sprite{
    display: inline-block;
    
}
.sprite+.sprite{
    margin-left:2px;
}
.bg-alldungeons {
    width: 48px; height: 32px;
    background: url('../assets/images/variations_sprites.png') -0 -0;
}

.bg-defeatganon {
    width: 48px; height: 32px;
    background: url('../assets/images/variations_sprites.png') -48px -0;
}

.bg-enemizer {
    width: 32px; height: 32px;
    background: url('../assets/images/variations_sprites.png') -0 -32px;
}

.bg-expert {
    width: 16px; height: 32px;
    background: url('../assets/images/variations_sprites.png') -48px -96px;
}

.bg-hard {
    width: 16px; height: 32px;
    background: url('../assets/images/variations_sprites.png') -32px -96px;
}

.bg-inverted {
    width: 32px; height: 32px;
    background: url('../assets/images/variations_sprites.png') -0 -64px;
}

.bg-keysanity {
    width: 32px; height: 32px;
    background: url('../assets/images/variations_sprites.png') -32px -64px;
}

.bg-normal {
    width: 16px; height: 32px;
    background: url('../assets/images/variations_sprites.png') -64px -96px;
}

.bg-open {
    width: 32px; height: 32px;
    background: url('../assets/images/variations_sprites.png') -96px -0;
}

.bg-randomizedswords {
    width: 32px; height: 32px;
    background: url('../assets/images/variations_sprites.png') -96px -32px;
}

.bg-retro {
    width: 32px; height: 32px;
    background: url('../assets/images/variations_sprites.png') -96px -64px;
}
.bg-vanilla {
    width: 32px; height: 32px;
    background: url('../assets/images/variations_sprites.png') -96px -96px;
}

.bg-standard {
    width: 32px; height: 32px;
    background: url('../assets/images/variations_sprites.png') -0 -96px;
}

.bg-swordless {
    width: 32px; height: 32px;
    background: url('../assets/images/variations_sprites.png') -64px -32px;
}

.bg-themysterysword {
    width: 32px; height: 32px;
    background: url('../assets/images/variations_sprites.png') -32px -32px;
}

.bg-uncleassured {
    width: 32px; height: 32px;
    background: url('../assets/images/variations_sprites.png') -64px -64px;
}